doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Starter Deck

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .hello {
      background-image: url('images/hello-tharr.gif')
    }
    .js {
      background-image: url('images/JavaScript-logo.png')
    }
    .nodejs {
      background-image: url('images/rocket-turtle.png')
    }
    .boxes {
      background-image: url('images/boxes.png')
    }
    .github-npm {
      background-image: url('images/github-npm.png')
    }

  body

    article

      section
        h1 What's next for npm?
        h3.headroom With your host
        h4
          a(href='https://twitter.com/MylesBorins') @MylesBorins
        p  Next.js Conf
        
      section(data-bespoke-backdrop='hello')
        h1 Oh Hai
        
      section
        h1 My Name is Myles
        img.headroom(src='images/me.jpg' alt='itsa me!' width='200px' height='200px')
      
      section
        h3 I am gainfully employed by GitHub as a Product Manager
        h4 Focused on npm
        h3 and end-to-end developer experiences
        
        h5.headroom The opinions expressed in this talk are solely my own

      section
        h1 What even is npm?

      section(data-bespoke-backdrop='js')
        h2 npm is
        h3 a critical part of the JavaScript community
        h4 one of the largest developer ecosystems in the world

      section(data-bespoke-backdrop='nodejs')
        h3 npm is
        h2 the package manager for Node.js
      
      section(data-bespoke-backdrop='boxes')
        h3 npm is
        h2 a public collection of packages
        h3 of open-source code
        h4 serving the JavaScript community
      
      section(data-bespoke-backdrop='github-npm')
        h3 npm, Inc. was a company founded in 2014
        h2 acquired by GitHub in 2020

      section
        h3 npm currently supports millions of devlopers
        h2 over 1.3 million packages
        h3 with over 75 Billion downloads a month
      section
        h2 Thank You
        img.headroom(src='images/best-gif-evar.gif' alt='a surfing puppy' width='20%')
        h4 @MylesBorins

    script(src='build/build.js')
